@model IEnumerable<Idea.Models.Category>

@{
    ViewData["Title"] = "Category";
}
<style>
    .table-category {
        background-color: black;
        color: white;
        border-color: black;
    }

    .column-highlight {
        background-color: #FFC0CB;
    }
</style>
<h3>@ViewData["Title"]</h3>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>

<table class="table table-bordered border-primary table-category">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.Id</td>
                <td>@category.Name</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@category.Id" class="btn btn-primary btn-sm">Edit</a> |
                    <a asp-action="Details" asp-route-id="@category.Id" class="btn btn-warning btn-sm">Details</a> |
                    <a asp-action="Delete" asp-route-id="@category.Id" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
